<!--file name:contact_page.ejs
student name: Nirajumar Gopani
student number: 301159058
date:10-11-2020
-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br /><br /><br />
      <!-- Button trigger modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Contact Me</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You can contact me via email:nirajgopani89@gmail</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br />
      <h2 style="color: #322e46; padding-bottom: 30px">Please Enter your information here</h2>
      <form action="/">
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="staticEmail"
              value="nirajgopani89@gmail.com"
              style="font-size: 25px; color: darkgray"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="fName" class="col-lg-3 col-form-label font-weight-bold" style="font-size: 18px">First name:</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="fName" name="fName" />
          </div>
        </div>
        <div class="form-group row">
          <label for="fName" class="col-lg-3 col-form-label font-weight-bold" style="font-size: 18px">Last name:</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="fName" name="fName" />
          </div>
        </div>
        <div class="form-group row">
          <label for="fName" class="col-lg-3 col-form-label font-weight-bold" style="font-size: 18px">E-mail:</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="fName" name="fName" />
          </div>
        </div>
        <div class="form-group row">
          <label for="fName" class="col-lg-3 col-form-label font-weight-bold" style="font-size: 18px">Contact:</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="fName" name="fName" />
          </div>
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Submit" style="color: bisque" />
        </div>
      </form>
    </div>
  </div>
</div>
