<!--file name:footer.ejs
student name: Nirajumar Gopani
student number: 301159058
date:10-11-2020
-->
<html>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>