<!--
Name: Gopani Niraj
Student Number: 301159058
-->

<div class="container" style="padding-top: 50px">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/Assets/Mypic.jpeg" class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-size:xx-large ;color:gray;text-align:center">Niraj Gopani</h5>
          <p class="card-text" style="font-size:large ;color:gray">Hello everybody,</p>
          <p class="card-text" style="font-size:large ;color:gray">My name is Nirajkumar Gopani. And I Am a game programmer.</p>
          <p class="card-text" style="font-size:large ;color:gray">I have a little knowledge about how to create a different a webapp.</p>
          <a href="/Assets/old resume link.pdf" style="font-size:medium;color:rgb(49, 189, 231)">Take a look at my resume here</a>
        </div>
      </div>
    </div>
  </div>
</div>
