<!--file name:v_missionstatement.ejs
student name: Nirajumar Gopani
student number: 301159058
date:10-11-2020
-->
<span class="border border-white"></span>
<ul class="list-unstyled" style=padding-top:25px>
    <li style="font-size:medium; color:gray">Welcome !</li>
    <li style="font-size:medium; color:gray">Here,I am going to tell you something which is quite appropriate.</li>
    <li style="font-size:medium; color:gray">This site gives you simple look at my work.</li>
      <ul>
        <li style="font-size:medium; color:gray">Work Hard</li>
        <li style="font-size:medium; color:gray">Stay Focused</li>
      </ul>
    </li>
  </ul>