<!--file name:v_projects.ejs
student name: Nirajumar Gopani
student number: 301159058
date:10-11-2020
-->
<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-lg-8">
        <img src="/Assets/Helathcare.jpg" class="card-img" alt="..." />
      </div>
      <div class="col-lg-4">
        <div class="card-body">
          <h5 class="card-title">Health care project</h5>
          <p class="card-text">Project about Healthcare Application,take a look.</p>
          <p class="card-text">I was a designer though I didn't work at web side work.</p>
          <p class="card-text">This app gives location of nearby hospital.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-lg-8">
          <img src="/Assets/Googlead.png" class="card-img" alt="..." />
        </div>
        <div class="col-lg-4">
          <div class="card-body">
            <h5 class="card-title">Google ad</h5>
            <p class="card-text">I've been working in Google ad</p>
            <p class="card-text">Simple clicks through someone's phone earn you money.</p>
            <p class="card-text">Make a simple runable application.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-lg-8">
          <img src="/Assets/Meme.gif" class="card-img" alt="..." />
        </div>
        <div class="col-lg-4">
          <div class="card-body">
            <h5 class="card-title">Game Level Design</h5>
            <p class="card-text">I have designed several levels using Gimp and unity</p>
            <p class="card-text">Well, designing a level gives a satisfactory feeling.</p>
            <p class="card-text">It's been my favourite task</p>
            <p class="card-text">THINK NEW,MAKE NEW</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
