<!--
Name: Gopani Niraj
Student Number: 3011590588
-->
<div class="container">
  <div class="column">
    <div>
      <h2 style="color: #6c8092; text-align: center; font-size: large">Few of the services i can provide you all</h2>
      <br />
      <div class="card-deck">
        <div class="card" style="width: 300px">
          <img src="/Assets/Game.jpg" class="card-img-top" alt="..." />
          <div class="card-body" >
            <p class="card-text" style="font-size:medium; color:#6c8092;">Game Programming</p>
          </div>
        </div>
        <div class="card-deck">
          <div class="card" style="width: 300px">
            <img src="/Assets/Mobiledeveloper.jpg" class="card-img-top" alt="..." />
            <div class="card-body" >
              <p class="card-text" style="font-size:medium; color:#6c8092;">Android Developer</p>
            </div>
          </div>
      </div>
      <div class="card-deck">
        <div class="card" style="width: 300px">
          <img src="/Assets/unity.jpg" class="card-img-top" alt="..." />
          <div class="card-body" >
            <p class="card-text" style="font-size:medium; color:#6c8092;">Work in Unity</p>
          </div>
        </div>
        <div class="card-deck">
          <div class="card" style="width: 300px">
            <img src="/Assets/Programmer.jpg" class="card-img-top" alt="..." />
            <div class="card-body" f>
              <p class="card-text" style="font-size:medium; color:#6c8092;">Game Programmer</p>
            </div>
          </div>
       
    </div>
  </div>
</div>
