<!--file name:contact_page.ejs
student name: NirajKumar Gopani
student number: 301159058
date:10-21-2020
-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-3">
      <h2 style="color: #322e46; padding-bottom: 30px; text-align: center;">Login</h2>
      <form action="/login" method="POST">
        <div class="form-group row">
          <label for="username" class="col-lg-3 col-form-label font-weight-bold" style="font-size: 18px">User
            Name:</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="username" name="username" />
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-lg-3 col-form-label font-weight-bold"
            style="font-size: 18px">Password:</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" id="password" name="password" />
          </div>
        </div>
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Login" style="color: bisque" />
        </div>
      </form>
    </div>
  </div>
</div>