<!--file name:v_aboutme.ejs
student name: NirajKumar Gopani
student number: 301159058
date:10-11-2020
-->

<div class="container" style="padding-top: 50px">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/Assets/Mypic.jpeg" class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="font-size:xx-large ;color:gray;text-align:center">Niraj Gopani</h5>
          <p class="card-text" style="font-size:large ;color:gray">Hello everybody,</p>
          <p class="card-text" style="font-size:large ;color:gray">My name is Nirajkumar Gopani. And I am a game
            programmer.</p>
          <p class="card-text" style="font-size:large ;color:gray">I have a little knowledge about how to create a
            different levels using Tiles.</p>
          <a href="/Assets/My resume.docx" style="font-size:medium;color:rgb(49, 189, 231)">Take a look at my resume
            here</a>
        </div>
      </div>
    </div>
  </div>
</div>